// ./book styles
.ant-steps-item-finished > .ant-steps-item-icon {
    line-height: 0 !important;
}

.book-card {
    border-radius: 12px;
    border: 2px solid darken($color: white, $amount: 7%);
    box-shadow: 8px 8px darken($color: white, $amount: 2%);
}