{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All pages</h1>

    <div class="row row-cols-4 mt-4">
        {% for entry in entries %}
            <div class="col my-2">
                <div class="wiki card border-danger">
                    <div class="card-body py-4">
                        <a class="stretched-link text-reset text-decoration-none font-weight-bold" href="{% url 'show' entry %}">{{ entry }}</a>
                        <div>
                            <small class="text-muted">
                                Learn more about {{ entry|lower }}.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}