{% extends "layout.html" %}

<!-- head styles -->
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!-- page title -->
{% block title %}
    Login
{% endblock %}

<!-- page body -->
{% block body %}

    <section class="b-body">
        <h1 class="mb-5">Login</h1>

        {% if errors and errors['invalid'] %}
        <div class="alert alert-warning" role="alert">
            {{ errors['invalid'] }}
        </div>
        {% endif %}

        <form action="{{ url_for('home.login') }}" method="post">
            <p class="b-label">USERNAME or EMAIL</p>
            <input name="username_or_email" placeholder="email/username" type="text" class="b-input"><br><br>
            <p class="b-label">PASSWORD</p>
            <input name="password" placeholder="password" type="password" class="b-input"><br><br>
            <button class="btn btn-dark" type="submit">Login</button>
        </form>
        
        <p class="mt-5">New here? <a href="{{ url_for('home.register') }}" class="font-weight-bold">REGISTER</a></p>
    </section>


{% endblock %}