
{% extends 'layouts/base.html' %}

{% block title %}
Home
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/FlackDialog.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}


{% block bodycss %}
h-100
{% endblock %}

{% block body %}
    <div class="container-lg">
        <div class="d-flex">
            <div class="sidebar flex-shrink-1 hidden-on-mobile">
                <div class="d-flex h-100 flex-column align-items-stretch">
                    <!-- Sidebar -->
                    <div class="row align-items-center mb-2">
                        <div class="col">
                            <h3 class="mb-0"><i class="icon fas fa-crow mr-2 color-primary"></i>Flack</h3>
                        </div>
                        <div class="col-auto mr-3 ml-2 my-0 p-0 d-lg-none">
                            <button type="button" title="Close Side Menu" class="btn_toggleSidebar c-icon-button ml-2">
                                <i class="fas fa-times text-muted"></i>
                            </button>
                        </div>
                    </div>
                    <label>
                        PUBLIC CHANNELS
                        <button id="btn_showModal" type="button" title="Add new channel!" class="c-icon-button ml-2">
                            <i class="fas fa-plus"></i>
                        </button>
                    </label>
                    <nav id="channels" class="channels-list d-flex flex-column flex-fill h-100 pb-3">
                        {% for channel in channels %}
                        <a class="channel-list-item {% if n == 'Burke' %}active{% endif %}" href="#" data-channelname="{{ channel }}">
                            {{ channel }}
                        </a>
                        {% endfor %}
                    </nav>
                    
                    <hr class="mt-0" style="box-shadow: -1px -2px 6px 2px #f1f1f1;">

                    <p id="displayname" data-displayname="{{ displayname }}" class="font-weight-bold mb-0 pb-0">
                        @{{ displayname|truncate(20, True) }}
                    </p>
                    <small><a id="btn_logout" class="text-muted" title="Log Out" href="{{ url_for('logout') }}">Not you? Sign Out</a></small>
                </div>
            </div>
            <div class="main flex-fill mb-0 pb-0">
                <!-- Main Content -->
                <!-- Appbar: Channel title -->
                <div id="topbar" class="sticky-top pt-4 px-4">
                    <div class="row align-items-center">
                        <div class="col-auto p-0 p-0">
                            <button type="button" title="Toggle Side Menu" data-location="main" class="btn_toggleSidebar c-icon-button ml-2 d-lg-none">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <div class="col-auto">
                            <h4 id="title" class="c-styled pb-0 mb-0">
                                Channel Title
                            </h4>
                        </div>
                    </div>
                    <small class="text-muted font-weight-bold">CONVERSATION</small>
                    <hr>
                </div>

                <!-- Conversations -->
                <ul id="ul_conversations" style="min-height: 100vh" class="c-conversation-ul list-group px-4"></ul>

                <div id="nocontent" class="d-flex p-3 justify-content-center vh-100">
                    <div class="align-self-center text-center">
                        <i class="fa-grin fas fa-2x mb-2"></i>
                        <p class="font-weight-bolder" style="font-size: 19px;">Join a channel to start!</p>
                        <button type="button" title="Toggle Side Menu" data-location="main" class="btn_toggleSidebar c-button--secondary ml-2 d-lg-none">
                            GET STARTED
                        </button>
                    </div>
                </div>

                <div id="bottombar" class="w-100">
                    <div class="row align-items-center pb-4 pt-1 px-0 px-lg-4">
                        <div class="col">
                            <input id="input_message" rows="1" class="c-message-input w-100 rounded-pill" placeholder="Type Here" type="text">
                        </div>
                        <div class="col-auto">
                            <button id="btn_sendMessage" type="button" class="c-button shadow-sm rounded-pill"><i class="far fa-paper-plane mr-2"></i> Send</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="flackdialog"></div>











    <!-- <div class="" tabindex="-1" role="dialog">
        <div class="modal-sm modal-dialog-centered">
            <div class="c-modal modal-content px-3 py-4 text-center">
                <i id="fd_icon" hidden class="fa-lg mb-3"></i>
                <div>
                    <div id="fd_progress" class="spinner-border" role="status"></div>
                </div>
                <p id="fd_title" class="title font-weight-bolder m-1">Title</p>
                <p id="fd_message" class="message font-weight-normal">Huge message</p>
                <input id="fd_input" type="text" placeholder="name your channel..." class="c-input text-center font-weight-normal mb-3">
    
                <div class="row justify-content-around mt-1">
                    <div class="col">
                        <button id="fd_negativebutton" type="button" class="c-button--secondary mb-0 w-100" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button id="fd_positivebutton" type="button" class="c-button--primary mb-0 w-100">I have a very big text bro</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->





    <!-- <> -->
    <!-- <div id="flackdialog" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="c-modal modal-content px-3 py-4 text-center">
                <i id="fd_icon" hidden class="fa-lg mb-3"></i>
                <div class="d-flex justify-content-center">
                    <div id="fd_progress" hidden role="status"></div>
                </div>
                <p hidden id="fd_title" class="title font-weight-bolder m-1"></p>
                <p hidden id="fd_message" class="message font-weight-normal"></p>
                <input hidden id="fd_input" type="text" placeholder="name your channel..." class="c-input text-center font-weight-normal mb-3">
    
                <div class="row justify-content-around mt-1">
                    <div class="col">
                        <button id="fd_negativebutton" type="button" class="c-button--secondary mb-0 w-100" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button hidden id="fd_positivebutton" type="button" class="c-button--primary mb-0 w-100"></button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}
