// Common
@import "./bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,400;0,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
    margin: 0;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.b-body {
    padding: 48px;
}

/* Color Theme Swatches in Hex */
$quitered: #F21313;
$red: #F23030;
$orange: #F26666;
$lightorange: #ffa372;
$light: darken($color: white, $amount: 3);
$darkgrey: #636363;
$green: #4cbbb9;

// My custom input
div.b-textinput {
    display: block;
    border: 2px solid darken($color: white, $amount: 6);
    border-radius: 6px;
    margin-bottom: 8px;
    width: 400px;
    max-width: 100%;

    label {
        font-weight: 700;
        color: lighten($color: $darkgrey, $amount: 20);
        font-size: small;
        display: block;
        margin: 8px 18px 0 18px;
        padding: 0;
    }

    input {
        width: 100%;
        padding: 2px 18px 8px 18px;
        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    p {
        display: none;
        width: 100%;
        font-size: small;
        padding: 0 18px 8px 18px;
        margin: 0;
    }


    // styling invalid input mode
    &.is-invalid {
        border-color: $red;
        label {
            color: $red !important;

            &::before {
                content: "⚠︎ ";
            }
        }

        p {
            display: block;
            color: lighten($color: $red, $amount: 10);
        }
    }

    // styling invalid input mode
    &.is-success {
        border-color: $green;
        label {
            color: $green !important;

            &::before {
                content: "✓ ";
            }
        }

        p {
            display: block;
            color: lighten($color: $green, $amount: 10);
        }
    }
}


.b-label {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
}


.error-text {
    color: $orange;
}

.red-text {
    color: $red;
}

.green-text {
    color: $green;
}

.invalid {
    @extend .red-text;
    font-weight: 600;
}
.success {
    @extend .green-text;
    font-weight: 600;
}



// Customize bootstrap colors for button
.btn-primary {
    @include button-variant($orange, $orange, $orange)
}

.btn-primary-light {
    @include button-variant($lightorange, $lightorange, $lightorange);
    color: white !important;
}


.bg-grey {
    background-color: darken($color: white, $amount: 3) !important;
}

.rounded-xlg {
    border-radius: 12px !important;
}