

.c-input {
    border: 1px solid $secondary;
    border-radius: 8px;
    padding: 8px 12px;
    transition-duration: 280ms;

    &:focus {
        outline: none;
        border: 1px solid darken($color: $secondary, $amount: 10);
    }


    &:disabled {
        color: darken($color: $secondary, $amount: 10);

        &::placeholder {
            color: darken($color: $secondary, $amount: 10);
        }
    }
}