// Color variables
$lightgrey: #f1f1f1;
$grey: #A5A5A5;

$text: #0C1618;
$text-muted: $grey;

$primary: #0061ff;
$text-on-primary: #F9F9F9;

$secondary: rgb(230, 236, 240);
$text-on-secondary: #131313;