{% extends "layout.html" %}

<!-- head styles -->
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/book.css') }}">
{% endblock %}

<!-- page title -->
{% block title %}
    Reviewing: {{ book.title }}
{% endblock %}

<!-- page body -->
{% block body %}
    <section class="container">
        <div class="mt-5">
            <h2>
                {% if my_review %}
                    Your Review for:
                {% else %} 
                    Submitting a review for:
                {% endif %}
            </h2>
            <h4 class="text-muted font-weight-normal">{{ book.title }}</h4>
            <small class="m-0">Author: <span class="font-weight-bold">{{ book.author }}</span></small> |
            <small class="m-0">ISBN: <span class="font-weight-bold">{{ book.isbn }}</span></small> |
            <small class="m-0">Publication year: <span class="font-weight-bold">{{ book.year }}</span></small>
        </div>

        <div class="m-5"></div>
        
        {% if my_review %}
            <div class="container p-4 bg-grey shadow-sm rounded-xlg">
                <small class="text-muted">Posted on: {{ (review.created_at|utctolocal).strftime('%d %b, %Y %I:%M %p') }}</small>
                <div class="mb-3">
                    {% for n in range(5) %}
                        {% if n <= (my_review.rating - 1) %}
                            <i class="fas fa-star checked"></i>
                        {% else %}
                            <i class="far fa-star"></i>
                        {% endif%}
                    {% endfor %}
                    <small class="ml-2">{{ my_review.rating }} / 5</small>
                </div>
                <div>{{ my_review.text }}</div>
            </div>
        {% else %}
            <p class="mb-2">What's your opinion about the book</p>
            <form action="{{ url_for('book.review', book_id=book.id) }}" method="post">
                <div class="mb-2">
                    <select name="review_rating" class="form-control col-4">
                        {% with old_selected_val = errors['review_rating']['value'] %}
                            <option {% if not old_selected_val %}selected{% endif %} disabled value="">Choose a rating</option>
                            {% for n in range(5) %}
                                {% if old_selected_val == (n + 1)|string %}
                                    <option selected value="{{ n + 1 }}">{{ n + 1 }} stars</option>
                                {% else %}
                                    <option value="{{ n + 1 }}">{{ n + 1 }} stars</option>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </select>
                    {% if errors and errors['review_rating']['message'] %}
                    <small class="invalid">{{ errors['review_rating']['message'] }}</small>
                    {% endif %}
                </div>
                <textarea name="review_text" placeholder="write your review..." class="form-control {% if errors and errors['review_text']['message'] %} is-invalid {% endif %}" rows="7" required>{% if errors and errors['review_text'] %}{{ errors['review_text']['value'] }}{% endif %}</textarea>
                {% if errors and errors['review_text']['message'] %}
                <small class="invalid">{{ errors['review_text']['message'] }}</small>
                {% endif %}

                <div class="text-right mt-4">
                    <button class="btn btn-primary-light shadow-sm px-4 py-2 rounded-pill font-weight-bold" type="submit"><i class="fas fa-paper-plane mr-2"></i> Submit</button>
                </div>
            </form> 
        {% endif %}        
    </section>
{% endblock %}