.b-nav-active {
    color: cornflowerblue !important;
}

.logout-confirming {
    border-radius: 12px;
    transition-duration: 350ms;

    &:hover {
        color: orangered !important;
        background-color: #ebebeb;
    }
}